# Global
POSTGRES_DB=portfolio_platform
POSTGRES_USER=portfolio_user
POSTGRES_PASSWORD=portfolio_pass
POSTGRES_PORT=5432
REDIS_PORT=6380

# Portfolio API
PORTFOLIO_API_PORT=8011
PORTFOLIO_API_HOST=0.0.0.0
PORTFOLIO_API_DB_URL=postgresql+psycopg://portfolio_user:portfolio_pass@postgres:5432/portfolio_platform
PORTFOLIO_API_SECRET_KEY=change-me
PORTFOLIO_API_ACCESS_TOKEN_EXPIRE_MINUTES=60

# Assistant API
ASSISTANT_API_PORT=8012
ASSISTANT_API_HOST=0.0.0.0
ASSISTANT_API_DB_URL=postgresql+psycopg://portfolio_user:portfolio_pass@postgres:5432/portfolio_platform
ASSISTANT_API_REDIS_URL=redis://redis:6380/0
ASSISTANT_API_SECRET_KEY=change-me-too

# Frontend
WEB_PORT=4200
PORTFOLIO_API_BASE_URL=http://localhost:8011
ASSISTANT_API_BASE_URL=http://localhost:8012

DB_RECREATE_ON_DRIFT=true

# MinIO public media
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_PUBLIC_BUCKET=portfolio
MEDIA_PUBLIC_BASE_URL=http://localhost:9000
