# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

# Node / Angular
node_modules/
dist/
.angular/
coverage/

# Environment files
.env
.env.local
.env.*.local

# Build / logs
*.log
build/
.tmp/

# Local database files
*.sqlite3

# Misc
.ipynb_checkpoints/



.nx/cache
.nx/workspace-data